# The name of the supply collector.
SnowflakeSupplyCollector

# This is the connection string.  The comments and the
# blank lines are ignored.
use-cli-to-pass-connect-string-!!!

#GetSchema test values. Table count|Entity count.
GetSchema | 5 | 25

#CollectSample test.  DataCollection|DataEntity|sample size|list of sample values. Make sure to specify entire collection size to select because of random sampling
CollectSample | test.test_index | name | 7 | Sunday | Monday | Tuesday

#RandomSample test.  DataCollection|DataEntity|sample size|list of sample values
RandomSample | test.test_index | name | 3

#DataCollectionMetricsTest. DataCollection | row count | total size | used size
#DataCollectionMetrics | email | 200 | 84.0 | 84.0
#DataCollectionMetrics | lead | 200 | 92 | 92
#DataCollectionMetrics | contacts_audit | 200 | 104 | 104

#LoadTest. DataCollection | DataEntity | sample size | MaxMemoryUsageMb | MaxProcessingTimeSec
LoadTest | test.TestCollection | Test1 | 100000 | 10 | 30
